// clearfix
$az-red: #ab0520;
$az-blue: #0c234b;

%cf{
	&:after {
		content:"";
		display:table;
		clear:both;
	}
}

%visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}